<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsh.spoc.mapper.UnitMapper">

    <resultMap id="BaseResultMap" type="com.wsh.spoc.entity.Unit">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="classroomId" column="classroom_id" jdbcType="INTEGER"/>
            <result property="order" column="order" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,classroom_id,order
    </sql>
</mapper>
